nav, ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navBarra>ul>li{
    display: inline;
}

.Fondo{
    height: 100vh;
    background-image: url("../img/background.png");
}

.Logo{
    min-width: 30%;
}

.Hmargen{
    margin-top: 1%;
    margin-left: 10%;
}

 .LiMargen{
     margin-top: 1%;
     margin-left: 2%;
 }

 .ChestMargen{
     float: right;
 }



 /* -------------------------------------------------------------------------- */
 /*                                MEDIA QUERIES                               */
 /* -------------------------------------------------------------------------- */

 /* -------------------------------------------------------------------------- */
 /*                                XXL >= 1400px                               */
 /* -------------------------------------------------------------------------- */
 @media (min-width:1400px){

 }

/* -------------------------------------------------------------------------- */
/*                                 XL >= 1200px                                */
/* -------------------------------------------------------------------------- */
@media (min-width:1200px) and (max-width:1399px) {
    
}

/* -------------------------------------------------------------------------- */
/*                                 LG >= 992px                                */
/* -------------------------------------------------------------------------- */
 @media (min-width:992px) and (max-width:1199px){

 }

 /* -------------------------------------------------------------------------- */
 /*                                 MD >= 768px                                */
 /* -------------------------------------------------------------------------- */
 @media (min-width:768px) and (max-width:991px){

 }

 /* -------------------------------------------------------------------------- */
 /*                                 SM >= 576px                                */
 /* -------------------------------------------------------------------------- */
 @media (min-width:576px) and (max-width:767px){

 }

 /* -------------------------------------------------------------------------- */
 /*                                 XS < 576px                                 */
 /* -------------------------------------------------------------------------- */

 @media (max-width:575px) {
     
 }